<!DOCTYPE html>
<html>
<head>
  <title>NG Contact List</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body ng-app="ContactListApp">

<div ng-controller="ContactCtrl">


 <form class="form-horizontal">

    <fieldset>

      <!-- Form Name -->


<h2>TOMBO'S CONTACT LIST</h2>

      <!-- First Name Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" for="firstName">First Name</label>
        <div class="col-md-4">
        <input id="firstName" name="firstName" type="text" placeholder="Enter First Name..." class="form-control input-md" required="" ng-model="newContact.firstName">
        </div>
      </div>

      <!-- Last Name Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="lastName">Last Name</label>
        <div class="col-md-4">
        <input id="lastName" name="lastName" type="text" placeholder="Enter Last Name..." class="form-control input-md" required="" ng-model="newContact.lastName">
        </div>
      </div>

      <!-- Mobile Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="mobile">Mobile Number</label>
        <div class="col-md-4">
        <input id="mobile" name="mobile" type="text" placeholder="Enter Mobile Number..." class="form-control input-md" required="" ng-model="newContact.mobile">
        </div>
      </div>

      <!-- Email Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Enter Email</label>
        <div class="col-md-4">
        <input id="email" name="email" type="text" placeholder="Enter Email Address..." class="form-control input-md" required="" ng-model="newContact.email">
        </div>
      </div>

      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="addContact"></label>
        <div class="col-md-8">

  <!--    ***   PREPOPULATES / ADDS CONTACTS TO LIST FROM DB  *** -->

      <button id="addContact" name="addContact" class="btn btn-success" ng-click="addNewItem()">Add Contact</button>
      <button id="editContact" name="editContact" class="btn btn-danger" ng-click="editItem()">Edit Contact</button>

        <h3> My Contacts: </h3>
      <div id="style">
           <div class="red" ng-repeat="contact in contacts">

             <div class="col-xs-9">{{contact.firstName}}</div>
             <br>

             <div class="col-xs-9">{{contact.lastName}}</div>
             <br>

             <div class="col-xs-9">{{contact.mobile}}</div>
             <br>

             <div class="col-xs-9">{{contact.email}}</div>
             <br>
              <br>

           </div>

        </div>
    </div>
<!--       ***   PREPOPULATES / ADDS CONTACTS TO LIST FROM DB  *** -->
       </div>

      </fieldset>
      </form>









</div>



















    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script type="text/javascript" src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/bower_components/angular/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/AppConstants.js"></script>
    <script type="text/javascript" src="/javascripts/AppConfig.js"></script>
    <script type="text/javascript" src="/javascripts/factories/ContactFactory.js"></script>
  <!--   <script type="text/javascript" src="/javascripts/controllers/NavCtrl.js"></script> -->
    <script type="text/javascript" src="/javascripts/controllers/ContactCtrl.js"></script>
</body>
</html>